In [1]:
#Import dependencies
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import text
from sqlalchemy import Column, Integer, String, Float , Boolean
import pandas as pd

In [2]:
engine = create_engine("sqlite:///Resources/housing_data.sqlite")
conn = engine.connect()

In [3]:
# Insert buying data
data = pd.read_csv('./Resources/allen_buy.csv')
try:
    data.to_sql('allen_buy', engine)
except(ValueError):
    print("This is in the table already")

In [4]:
data = pd.read_csv('./Resources/dallas_buy.csv')
try:
    data.to_sql('dallas_buy', engine)
except(ValueError):
    print("This is in the table already")

In [6]:
data = pd.read_csv('./Resources/frisco_buy.csv')
try:
    data.to_sql('frisco_buy', engine)
except(ValueError):
    print("This is in the table already")

In [7]:
data = pd.read_csv('./Resources/garland_buy.csv')
try:
    data.to_sql('garland_buy', engine)
except(ValueError):
    print("This is in the table already")

In [8]:
data = pd.read_csv('./Resources/plano_buy.csv')
try:
    data.to_sql('plano_buy', engine)
except(ValueError):
    print("This is in the table already")

In [9]:
data = pd.read_csv('./Resources/richardson_buy.csv')
try:
    data.to_sql('richardson_buy', engine)
except(ValueError):
    print("This is in the table already")

In [10]:
# Insert rent data
data = pd.read_csv('./Resources/allen_rent.csv')
try:
    data.to_sql('allen_rent', engine)
except(ValueError):
    print("This is in the table already")

In [11]:
data = pd.read_csv('./Resources/dallas_rent.csv')
try:
    data.to_sql('dallas_rent', engine)
except(ValueError):
    print("This is in the table already")

In [12]:
data = pd.read_csv('./Resources/frisco_rent.csv')
try:
    data.to_sql('frisco_rent', engine)
except(ValueError):
    print("This is in the table already")

In [13]:
data = pd.read_csv('./Resources/garland_rent.csv')
try:
    data.to_sql('garland_rent', engine)
except(ValueError):
    print("This is in the table already")

In [14]:
data = pd.read_csv('./Resources/plano_rent.csv')
try:
    data.to_sql('plano_rent', engine)
except(ValueError):
    print("This is in the table already")

In [15]:
data = pd.read_csv('./Resources/richardson_rent.csv')
try:
    data.to_sql('richardson_rent', engine)
except(ValueError):
    print("This is in the table already")