In [22]:
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="allenbuy app")
import pandas as pd

In [2]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - Downloading: 100%|█████████████████| 8.41M/8.41M [00:01<00:00, 7.38MB/s]

In [3]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [4]:
# Stack Overflow URL to scrape
allen_url = 'https://www.mydallashomefinder.com/listing?utm_campaign=SNDTX%3A%20Dallas%20County%20-%20Zip%20Codes&utm_medium=cpc&pageSize=24&zoom=12&pageNum=2&utm_term=homes%20sale%2075220%20Dallas%20Texas&page=1&msclkid=9653aafd9dd215d71837c9942c264c70&utm_source=bing&utm_content=75220&key=Allen%2C%20TX&keywordType=city&purchaseType-For-Sale-Rent=1'
# Retrieve page with the requests module
browser.visit(allen_url)

In [5]:
for x in range (2):
    #x = 1
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    location  = soup.find_all('p', class_='house-address')
    cost = soup.find_all('p', class_='house-price')
    #bbsq = soup.find_all('span', class_='vertical-line')
    #list names 
    addresses = []
    price = []
    #bbsq = []
    #append lists
    for i, y in zip(location, cost):
        addresses.append(i.text)
        price.append(y.text)
        #bbsq.append(x.text)

            #print('next page')
    
    #browser.links.find_by_partial_text(" 2 ").click()

In [6]:
print(addresses)

['1635 Lakeside Drive, Allen, TX 75002', '728 Fawn Valley Drive, Allen, TX 75002', '1710 Clarke Springs Drive, Allen, TX 75002', '1502 N Crossing Drive, Allen, TX 75002', '806 Lake Highlands Drive, Allen, TX 75002', '1507 Winterbrook Court, Allen, TX 75002', '1433 Glendover Drive, Allen, TX 75013', '1322 Crestview Drive, Allen, TX 75002', '1807 Baltimore Drive, Allen, TX 75002', '1905 Rising Star Drive, Allen, TX 75013', '918 Blackstone Drive, Allen, TX 75002', '1002 Pin Oak Lane, Allen, TX 75002', '822 Weeping Willow Court, Allen, TX 75002', '912 Fairlawn Street, Allen, TX 75002', '1905 Bordeaux Court, Allen, TX 75002', '1968 Sweetwater Lane, Allen, TX 75013', '1960 Sweetwater Lane, Allen, TX 75013', '810 Shallowater Drive, Allen, TX 75013', '918 Green Brook Drive, Allen, TX 75002', '904 Panther Lane, Allen, TX 75013', '706 S Jupiter Road #1303, Allen, TX 75002', '405 Woodlake Drive, Allen, TX 75013', '2038 Wimbledon Drive, Allen, TX 75013', '5 Valleycrest Court, Allen, TX 75002']

In [7]:
print(price)

['\n                $425,000\n            ', '\n                $439,900\n            ', '\n                $575,000\n            ', '\n                $710,000\n            ', '\n                $399,999\n            ', '\n                $785,000\n            ', '\n                $514,000\n            ', '\n                $343,000\n            ', '\n                $775,000\n            ', '\n                $799,000\n            ', '\n                $578,000\n            ', '\n                $409,000\n            ', '\n                $409,000\n            ', '\n                $396,000\n            ', '\n                $899,990\n            ', '\n                $519,990\n            ', '\n                $519,990\n            ', '\n                $1,000,000\n            ', '\n                $460,000\n            ', '\n                $599,000\n            ', '\n                $340,000\n            ', '\n                $3,395,000\n            ', '\n                $439,000\n            ', '\n                $425,000\n            ']

In [8]:
bbsq = soup.find_all('span', class_='vertical-line')
bed_bath_sq = []
for x in bbsq:
    bed_bath_sq.append(x.text)

In [9]:
print(bed_bath_sq)

['3 Beds', '2 Baths', '1,499 SqFt', '4 Beds', '3 Baths', '2,612 SqFt', '5 Beds', '3 Baths', '3,346 SqFt', '5 Beds', '4 Baths', '3,606 SqFt', '5 Beds', '3 Baths', '2,945 SqFt', '5 Beds', '4 Baths', '4,070 SqFt', '4 Beds', '3 Baths', '2,499 SqFt', '3 Beds', '2 Baths', '1,404 SqFt', '4 Beds', '4 Baths', '3,568 SqFt', '4 Beds', '4 Baths', '4,124 SqFt', '5 Beds', '4 Baths', '3,370 SqFt', '4 Beds', '2 Baths', '2,274 SqFt', '3 Beds', '2 Baths', '1,825 SqFt', '4 Beds', '2 Baths', '1,836 SqFt', '6 Beds', '5 Baths', '5,008 SqFt', '3 Beds', '3 Baths', '1,971 SqFt', '3 Beds', '3 Baths', '1,971 SqFt', '4 Beds', '5 Baths', '4,439 SqFt', '3 Beds', '2 Baths', '2,109 SqFt', '4 Beds', '3 Baths', '2,829 SqFt', '4 Beds', '4 Baths', '1,821 SqFt', '5 Beds', '7 Baths', '8,595 SqFt', '4 Beds', '2 Baths', '2,000 SqFt', '3 Beds', '2 Baths', '2,169 SqFt']

In [10]:
bbsq_results = [item.split(',', 3) for item in bed_bath_sq]
print(bbsq_results)

[['3 Beds'], ['2 Baths'], ['1', '499 SqFt'], ['4 Beds'], ['3 Baths'], ['2', '612 SqFt'], ['5 Beds'], ['3 Baths'], ['3', '346 SqFt'], ['5 Beds'], ['4 Baths'], ['3', '606 SqFt'], ['5 Beds'], ['3 Baths'], ['2', '945 SqFt'], ['5 Beds'], ['4 Baths'], ['4', '070 SqFt'], ['4 Beds'], ['3 Baths'], ['2', '499 SqFt'], ['3 Beds'], ['2 Baths'], ['1', '404 SqFt'], ['4 Beds'], ['4 Baths'], ['3', '568 SqFt'], ['4 Beds'], ['4 Baths'], ['4', '124 SqFt'], ['5 Beds'], ['4 Baths'], ['3', '370 SqFt'], ['4 Beds'], ['2 Baths'], ['2', '274 SqFt'], ['3 Beds'], ['2 Baths'], ['1', '825 SqFt'], ['4 Beds'], ['2 Baths'], ['1', '836 SqFt'], ['6 Beds'], ['5 Baths'], ['5', '008 SqFt'], ['3 Beds'], ['3 Baths'], ['1', '971 SqFt'], ['3 Beds'], ['3 Baths'], ['1', '971 SqFt'], ['4 Beds'], ['5 Baths'], ['4', '439 SqFt'], ['3 Beds'], ['2 Baths'], ['2', '109 SqFt'], ['4 Beds'], ['3 Baths'], ['2', '829 SqFt'], ['4 Beds'], ['4 Baths'], ['1', '821 SqFt'], ['5 Beds'], ['7 Baths'], ['8', '595 SqFt'], ['4 Beds'], ['2 Baths'], ['2', '000 SqFt'], ['3 Beds'], ['2 Baths'], ['2', '169 SqFt']]

In [11]:
sub = bbsq_results[::3]

In [12]:
print(sub)

[['3 Beds'], ['4 Beds'], ['5 Beds'], ['5 Beds'], ['5 Beds'], ['5 Beds'], ['4 Beds'], ['3 Beds'], ['4 Beds'], ['4 Beds'], ['5 Beds'], ['4 Beds'], ['3 Beds'], ['4 Beds'], ['6 Beds'], ['3 Beds'], ['3 Beds'], ['4 Beds'], ['3 Beds'], ['4 Beds'], ['4 Beds'], ['5 Beds'], ['4 Beds'], ['3 Beds']]

In [13]:
beds = []
for x in sub:
    beds.append(x)

In [14]:
print (beds)

[['3 Beds'], ['4 Beds'], ['5 Beds'], ['5 Beds'], ['5 Beds'], ['5 Beds'], ['4 Beds'], ['3 Beds'], ['4 Beds'], ['4 Beds'], ['5 Beds'], ['4 Beds'], ['3 Beds'], ['4 Beds'], ['6 Beds'], ['3 Beds'], ['3 Beds'], ['4 Beds'], ['3 Beds'], ['4 Beds'], ['4 Beds'], ['5 Beds'], ['4 Beds'], ['3 Beds']]

In [15]:
sub1 = bbsq_results[1::3]
print(sub1)

[['2 Baths'], ['3 Baths'], ['3 Baths'], ['4 Baths'], ['3 Baths'], ['4 Baths'], ['3 Baths'], ['2 Baths'], ['4 Baths'], ['4 Baths'], ['4 Baths'], ['2 Baths'], ['2 Baths'], ['2 Baths'], ['5 Baths'], ['3 Baths'], ['3 Baths'], ['5 Baths'], ['2 Baths'], ['3 Baths'], ['4 Baths'], ['7 Baths'], ['2 Baths'], ['2 Baths']]

In [16]:
baths = []
for y in sub1:
    baths.append(y)

In [17]:
print(baths)

[['2 Baths'], ['3 Baths'], ['3 Baths'], ['4 Baths'], ['3 Baths'], ['4 Baths'], ['3 Baths'], ['2 Baths'], ['4 Baths'], ['4 Baths'], ['4 Baths'], ['2 Baths'], ['2 Baths'], ['2 Baths'], ['5 Baths'], ['3 Baths'], ['3 Baths'], ['5 Baths'], ['2 Baths'], ['3 Baths'], ['4 Baths'], ['7 Baths'], ['2 Baths'], ['2 Baths']]

In [18]:
sub2 = bbsq_results[2::3]
print(sub2)

[['1', '499 SqFt'], ['2', '612 SqFt'], ['3', '346 SqFt'], ['3', '606 SqFt'], ['2', '945 SqFt'], ['4', '070 SqFt'], ['2', '499 SqFt'], ['1', '404 SqFt'], ['3', '568 SqFt'], ['4', '124 SqFt'], ['3', '370 SqFt'], ['2', '274 SqFt'], ['1', '825 SqFt'], ['1', '836 SqFt'], ['5', '008 SqFt'], ['1', '971 SqFt'], ['1', '971 SqFt'], ['4', '439 SqFt'], ['2', '109 SqFt'], ['2', '829 SqFt'], ['1', '821 SqFt'], ['8', '595 SqFt'], ['2', '000 SqFt'], ['2', '169 SqFt']]

In [19]:
sqft = []
for z in sub2:
    sqft.append(z)

In [23]:
allen_buy = pd.DataFrame({
    "Address": addresses,
    "Price": price,
    "Number of Bedrooms": beds,
    "Number of Bathrooms": baths,
    "Square Feet": sqft
})

In [24]:
allen_buy["loc"] = allen_buy["Address"].apply(geolocator.geocode)
allen_buy["point"]= allen_buy["loc"].apply(lambda loc: tuple(loc.point) if loc else None)

In [25]:
print(allen_buy)

                                       Address  \
0         1635 Lakeside Drive, Allen, TX 75002
1       728 Fawn Valley Drive, Allen, TX 75002
2   1710 Clarke Springs Drive, Allen, TX 75002
3       1502 N Crossing Drive, Allen, TX 75002
4    806 Lake Highlands Drive, Allen, TX 75002
5      1507 Winterbrook Court, Allen, TX 75002
6        1433 Glendover Drive, Allen, TX 75013
7        1322 Crestview Drive, Allen, TX 75002
8        1807 Baltimore Drive, Allen, TX 75002
9      1905 Rising Star Drive, Allen, TX 75013
10       918 Blackstone Drive, Allen, TX 75002
11          1002 Pin Oak Lane, Allen, TX 75002
12   822 Weeping Willow Court, Allen, TX 75002
13        912 Fairlawn Street, Allen, TX 75002
14        1905 Bordeaux Court, Allen, TX 75002
15       1968 Sweetwater Lane, Allen, TX 75013
16       1960 Sweetwater Lane, Allen, TX 75013
17      810 Shallowater Drive, Allen, TX 75013
18      918 Green Brook Drive, Allen, TX 75002
19           904 Panther Lane, Allen, TX 75013
20   706 S Jupiter Road #1303, Allen, TX 75002
21         405 Woodlake Drive, Allen, TX 75013
22       2038 Wimbledon Drive, Allen, TX 75013
23        5 Valleycrest Court, Allen, TX 75002

                                         Price Number of Bedrooms  \
0     \n                $425,000\n                       [3 Beds]
1     \n                $439,900\n                       [4 Beds]
2     \n                $575,000\n                       [5 Beds]
3     \n                $710,000\n                       [5 Beds]
4     \n                $399,999\n                       [5 Beds]
5     \n                $785,000\n                       [5 Beds]
6     \n                $514,000\n                       [4 Beds]
7     \n                $343,000\n                       [3 Beds]
8     \n                $775,000\n                       [4 Beds]
9     \n                $799,000\n                       [4 Beds]
10    \n                $578,000\n                       [5 Beds]
11    \n                $409,000\n                       [4 Beds]
12    \n                $409,000\n                       [3 Beds]
13    \n                $396,000\n                       [4 Beds]
14    \n                $899,990\n                       [6 Beds]
15    \n                $519,990\n                       [3 Beds]
16    \n                $519,990\n                       [3 Beds]
17  \n                $1,000,000\n                       [4 Beds]
18    \n                $460,000\n                       [3 Beds]
19    \n                $599,000\n                       [4 Beds]
20    \n                $340,000\n                       [4 Beds]
21  \n                $3,395,000\n                       [5 Beds]
22    \n                $439,000\n                       [4 Beds]
23    \n                $425,000\n                       [3 Beds]

   Number of Bathrooms    Square Feet  \
0            [2 Baths]  [1, 499 SqFt]
1            [3 Baths]  [2, 612 SqFt]
2            [3 Baths]  [3, 346 SqFt]
3            [4 Baths]  [3, 606 SqFt]
4            [3 Baths]  [2, 945 SqFt]
5            [4 Baths]  [4, 070 SqFt]
6            [3 Baths]  [2, 499 SqFt]
7            [2 Baths]  [1, 404 SqFt]
8            [4 Baths]  [3, 568 SqFt]
9            [4 Baths]  [4, 124 SqFt]
10           [4 Baths]  [3, 370 SqFt]
11           [2 Baths]  [2, 274 SqFt]
12           [2 Baths]  [1, 825 SqFt]
13           [2 Baths]  [1, 836 SqFt]
14           [5 Baths]  [5, 008 SqFt]
15           [3 Baths]  [1, 971 SqFt]
16           [3 Baths]  [1, 971 SqFt]
17           [5 Baths]  [4, 439 SqFt]
18           [2 Baths]  [2, 109 SqFt]
19           [3 Baths]  [2, 829 SqFt]
20           [4 Baths]  [1, 821 SqFt]
21           [7 Baths]  [8, 595 SqFt]
22           [2 Baths]  [2, 000 SqFt]
23           [2 Baths]  [2, 169 SqFt]

                                                  loc  \
0   (1635, Lakeside Drive, Allen, Collin County, T...
1   (728, Fawn Valley Drive, Allen, Collin County,...
2   (1710, Clarke Springs Drive, Auburn Springs, A...
3   (1502, North Crossing Drive, Beacon Hill, Alle...
4   (806, Lake Highlands Drive, Fountain Park, All...
5   (1507, Winterbrook Court, Allen, Collin County...
6   (1433, Glendover Drive, Glendover Park, Allen,...
7   (1322, Crestview Drive, Allen, Collin County, ...
8   (1807, Baltimore Drive, Allen, Collin County, ...
9   (1905, Rising Star Drive, Allen, Collin County...
10  (918, Blackstone Drive, Allen, Collin County, ...
11  (1002, Pin Oak Lane, Oak Ridge, Allen, Collin ...
12  (822, Weeping Willow Court, Allen, Collin Coun...
13  (912, Fairlawn Street, Allen, Collin County, T...
14  (1905, Bordeaux Court, Allen, Collin County, T...
15  (Sweetwater Lane, Cottonwood Creek, Allen, Col...
16  (Sweetwater Lane, Cottonwood Creek, Allen, Col...
17  (810, Shallowater Drive, Allen, Collin County,...
18  (918, Green Brook Drive, Fountain Park, Allen,...
19  (904, Panther Lane, Quail Run, Cottonwood Cree...
20                                               None
21  (405, Woodlake Drive, Wimberley Place, Allen, ...
22  (2038, Wimbledon Drive, Custer Hill Estates, A...
23  (5, Valleycrest Court, Fountain Park, Allen, C...

                                            point
0   (33.127024649999996, -96.62958516377714, 0.0)
1    (33.08754920836843, -96.66225524592741, 0.0)
2          (33.10367255, -96.62354027419086, 0.0)
3    (33.10709102040816, -96.70582489795919, 0.0)
4          (33.10848885, -96.65099068030241, 0.0)
5           (33.1214438, -96.61179619508836, 0.0)
6            (33.1204466, -96.7067572464255, 0.0)
7          (33.10795775, -96.63832180109515, 0.0)
8    (33.125284050000005, -96.6209924708086, 0.0)
9     (33.1125151158645, -96.72657505258043, 0.0)
10  (33.082872755389246, -96.65921832859719, 0.0)
11         (33.11333285, -96.63198593974423, 0.0)
12    (33.07767812244898, -96.6594033877551, 0.0)
13   (33.08253257040929, -96.66389521361589, 0.0)
14         (33.12777145, -96.61959012774437, 0.0)
15                 (33.1299473, -96.6679201, 0.0)
16                 (33.1299473, -96.6679201, 0.0)
17                    (33.11168, -96.726852, 0.0)
18  (33.104439884441355, -96.64873114073634, 0.0)
19  (33.124018750000005, -96.67381621658794, 0.0)
20                                           None
21   (33.10560463836279, -96.72123131492312, 0.0)
22    (33.0896706082214, -96.73037751744842, 0.0)
23   (33.109132849999995, -96.6428601906081, 0.0)

In [26]:
allen_buy.to_csv(r'../Resources/allen_buy.csv', index = False)