In [1]:
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="dallsbuy app")
import pandas as pd

In [2]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [4]:
# Stack Overflow URL to scrape
dallas_url = 'https://www.mydallashomefinder.com/listing?utm_campaign=SNDTX%3A%20Dallas%20County%20-%20Zip%20Codes&utm_medium=cpc&pageSize=24&pageNum=2&utm_term=homes%20sale%2075220%20Dallas%20Texas&page=1&msclkid=9653aafd9dd215d71837c9942c264c70&utm_source=bing&utm_content=75220&key=Dallas%2C%20TX&keywordType=city&purchaseType-For-Sale-Rent=1&zoom=12'
# Retrieve page with the requests module
browser.visit(dallas_url)

In [5]:
for x in range (2):
    #x = 1
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    location  = soup.find_all('p', class_='house-address')
    cost = soup.find_all('p', class_='house-price')
    #list names 
    addresses = []
    price = []
    #append lists
    for i, y in zip(location, cost):
        addresses.append(i.text)
        price.append(y.text)

            #print('next page')
    
    #browser.links.find_by_partial_text(" 2 ").click()

In [6]:
print(addresses)

['2628 Lawrence Street, Dallas, TX 75215', '162 S Cisco Street, Dallas, TX 75246', '9250 Meadowbrook Drive, Dallas, TX 75220', '8032 EAGLE Trail, Dallas, TX 75238', '9315 Leaside Drive, Dallas, TX 75238', '6706 Duffield Drive, Dallas, TX 75248', '2743 Tranquil Way, Dallas, TX 75237', '901 Elsbeth Avenue, Dallas, TX 75208', '4418 Stigall Drive, Dallas, TX 75209', '6921 Gateridge Drive, Dallas, TX 75254', '15910 Coolwood Drive #1046, Dallas, TX 75248', '9324 Stratford Way, Dallas, TX 75220', '8420 Little Fawn Lane, Dallas, TX 75249', '2559 Globe Avenue, Dallas, TX 75228', '5436 Martel, Dallas, TX 75206', '732 W 7th Street, Dallas, TX 75208', '7442 Woodthrush Drive, Dallas, TX 75230', '2118 Fordham Road, Dallas, TX 75216', '4342 Margate Drive, Dallas, TX 75220', '2512 E Illinois Avenue, Dallas, TX 75216', '2925 Sharon Street, Dallas, TX 75211', '8708 Stanwood Drive, Dallas, TX 75228', '7340 Skillman Street #902, Dallas, TX 75231', '5807 Winding Woods Trail, Dallas, TX 75227']

In [ ]:
print(addresses)

In [7]:
print(price)

['\n                $399,000\n            ', '\n                $525,000\n            ', '\n                $15,850,000\n            ', '\n                $899,000\n            ', '\n                $515,000\n            ', '\n                $724,999\n            ', '\n                $300,000\n            ', '\n                $649,000\n            ', '\n                $1,149,000\n            ', '\n                $917,000\n            ', '\n                $195,000\n            ', '\n                $850,000\n            ', '\n                $389,000\n            ', '\n                $225,000\n            ', '\n                $835,000\n            ', '\n                $669,900\n            ', '\n                $650,000\n            ', '\n                $250,000\n            ', '\n                $2,850,000\n            ', '\n                $225,000\n            ', '\n                $299,000\n            ', '\n                $479,900\n            ', '\n                $229,900\n            ', '\n                $354,000\n            ']

In [8]:
bbsq = soup.find_all('span', class_='vertical-line')
bed_bath_sq = []
for x in bbsq:
    bed_bath_sq.append(x.text)

In [9]:
print(bed_bath_sq)

['4 Beds', '2 Baths', '1,800 SqFt', '3 Beds', '3 Baths', '1,836 SqFt', '5 Beds', '8 Baths', '12,470 SqFt', '5 Beds', '3 Baths', '4,157 SqFt', '3 Beds', '2 Baths', '1,348 SqFt', '4 Beds', '3 Baths', '2,452 SqFt', '3 Beds', '2 Baths', '1,591 SqFt', '3 Beds', '4 Baths', '2,124 SqFt', '4 Beds', '3 Baths', '3,179 SqFt', '3 Beds', '4 Baths', '3,562 SqFt', '2 Beds', '3 Baths', '1,363 SqFt', '3 Beds', '3 Baths', '3,154 SqFt', '4 Beds', '2 Baths', '2,529 SqFt', '3 Beds', '1 Bath', '1,104 SqFt', '3 Beds', '4 Baths', '2,552 SqFt', '3 Beds', '3 Baths', '2,020 SqFt', '3 Beds', '3 Baths', '2,750 SqFt', '4 Beds', '2 Baths', '1,436 SqFt', '4 Beds', '7 Baths', '5,631 SqFt', '3 Beds', '2 Baths', '936 SqFt', '2 Beds', '2 Baths', '1,054 SqFt', '3 Beds', '2 Baths', '1,678 SqFt', '3 Beds', '2 Baths', '1,156 SqFt', '3 Beds', '3 Baths', '2,277 SqFt']

In [10]:
print(bed_bath_sq)

['4 Beds', '2 Baths', '1,800 SqFt', '3 Beds', '3 Baths', '1,836 SqFt', '5 Beds', '8 Baths', '12,470 SqFt', '5 Beds', '3 Baths', '4,157 SqFt', '3 Beds', '2 Baths', '1,348 SqFt', '4 Beds', '3 Baths', '2,452 SqFt', '3 Beds', '2 Baths', '1,591 SqFt', '3 Beds', '4 Baths', '2,124 SqFt', '4 Beds', '3 Baths', '3,179 SqFt', '3 Beds', '4 Baths', '3,562 SqFt', '2 Beds', '3 Baths', '1,363 SqFt', '3 Beds', '3 Baths', '3,154 SqFt', '4 Beds', '2 Baths', '2,529 SqFt', '3 Beds', '1 Bath', '1,104 SqFt', '3 Beds', '4 Baths', '2,552 SqFt', '3 Beds', '3 Baths', '2,020 SqFt', '3 Beds', '3 Baths', '2,750 SqFt', '4 Beds', '2 Baths', '1,436 SqFt', '4 Beds', '7 Baths', '5,631 SqFt', '3 Beds', '2 Baths', '936 SqFt', '2 Beds', '2 Baths', '1,054 SqFt', '3 Beds', '2 Baths', '1,678 SqFt', '3 Beds', '2 Baths', '1,156 SqFt', '3 Beds', '3 Baths', '2,277 SqFt']

In [11]:
bbsq_results = [item.split(',', 3) for item in bed_bath_sq]
print(bbsq_results)

[['4 Beds'], ['2 Baths'], ['1', '800 SqFt'], ['3 Beds'], ['3 Baths'], ['1', '836 SqFt'], ['5 Beds'], ['8 Baths'], ['12', '470 SqFt'], ['5 Beds'], ['3 Baths'], ['4', '157 SqFt'], ['3 Beds'], ['2 Baths'], ['1', '348 SqFt'], ['4 Beds'], ['3 Baths'], ['2', '452 SqFt'], ['3 Beds'], ['2 Baths'], ['1', '591 SqFt'], ['3 Beds'], ['4 Baths'], ['2', '124 SqFt'], ['4 Beds'], ['3 Baths'], ['3', '179 SqFt'], ['3 Beds'], ['4 Baths'], ['3', '562 SqFt'], ['2 Beds'], ['3 Baths'], ['1', '363 SqFt'], ['3 Beds'], ['3 Baths'], ['3', '154 SqFt'], ['4 Beds'], ['2 Baths'], ['2', '529 SqFt'], ['3 Beds'], ['1 Bath'], ['1', '104 SqFt'], ['3 Beds'], ['4 Baths'], ['2', '552 SqFt'], ['3 Beds'], ['3 Baths'], ['2', '020 SqFt'], ['3 Beds'], ['3 Baths'], ['2', '750 SqFt'], ['4 Beds'], ['2 Baths'], ['1', '436 SqFt'], ['4 Beds'], ['7 Baths'], ['5', '631 SqFt'], ['3 Beds'], ['2 Baths'], ['936 SqFt'], ['2 Beds'], ['2 Baths'], ['1', '054 SqFt'], ['3 Beds'], ['2 Baths'], ['1', '678 SqFt'], ['3 Beds'], ['2 Baths'], ['1', '156 SqFt'], ['3 Beds'], ['3 Baths'], ['2', '277 SqFt']]

In [12]:
sub = bbsq_results[::3]

In [13]:
print(sub)

[['4 Beds'], ['3 Beds'], ['5 Beds'], ['5 Beds'], ['3 Beds'], ['4 Beds'], ['3 Beds'], ['3 Beds'], ['4 Beds'], ['3 Beds'], ['2 Beds'], ['3 Beds'], ['4 Beds'], ['3 Beds'], ['3 Beds'], ['3 Beds'], ['3 Beds'], ['4 Beds'], ['4 Beds'], ['3 Beds'], ['2 Beds'], ['3 Beds'], ['3 Beds'], ['3 Beds']]

In [14]:
beds = []
for x in sub:
    beds.append(x)

In [15]:
print(beds)

[['4 Beds'], ['3 Beds'], ['5 Beds'], ['5 Beds'], ['3 Beds'], ['4 Beds'], ['3 Beds'], ['3 Beds'], ['4 Beds'], ['3 Beds'], ['2 Beds'], ['3 Beds'], ['4 Beds'], ['3 Beds'], ['3 Beds'], ['3 Beds'], ['3 Beds'], ['4 Beds'], ['4 Beds'], ['3 Beds'], ['2 Beds'], ['3 Beds'], ['3 Beds'], ['3 Beds']]

In [16]:
sub1 = bbsq_results[1::3]
print(sub1)

[['2 Baths'], ['3 Baths'], ['8 Baths'], ['3 Baths'], ['2 Baths'], ['3 Baths'], ['2 Baths'], ['4 Baths'], ['3 Baths'], ['4 Baths'], ['3 Baths'], ['3 Baths'], ['2 Baths'], ['1 Bath'], ['4 Baths'], ['3 Baths'], ['3 Baths'], ['2 Baths'], ['7 Baths'], ['2 Baths'], ['2 Baths'], ['2 Baths'], ['2 Baths'], ['3 Baths']]

In [17]:
baths = []
for y in sub1:
    baths.append(y)

In [18]:
print(baths)

[['2 Baths'], ['3 Baths'], ['8 Baths'], ['3 Baths'], ['2 Baths'], ['3 Baths'], ['2 Baths'], ['4 Baths'], ['3 Baths'], ['4 Baths'], ['3 Baths'], ['3 Baths'], ['2 Baths'], ['1 Bath'], ['4 Baths'], ['3 Baths'], ['3 Baths'], ['2 Baths'], ['7 Baths'], ['2 Baths'], ['2 Baths'], ['2 Baths'], ['2 Baths'], ['3 Baths']]

In [19]:
sub2 = bbsq_results[2::3]
print(sub2)

[['1', '800 SqFt'], ['1', '836 SqFt'], ['12', '470 SqFt'], ['4', '157 SqFt'], ['1', '348 SqFt'], ['2', '452 SqFt'], ['1', '591 SqFt'], ['2', '124 SqFt'], ['3', '179 SqFt'], ['3', '562 SqFt'], ['1', '363 SqFt'], ['3', '154 SqFt'], ['2', '529 SqFt'], ['1', '104 SqFt'], ['2', '552 SqFt'], ['2', '020 SqFt'], ['2', '750 SqFt'], ['1', '436 SqFt'], ['5', '631 SqFt'], ['936 SqFt'], ['1', '054 SqFt'], ['1', '678 SqFt'], ['1', '156 SqFt'], ['2', '277 SqFt']]

In [20]:
sqft = []
for z in sub2:
    sqft.append(z)

In [21]:
dallas_buy = pd.DataFrame({
    "Address": addresses,
    "Price": price,
    "Number of Bedrooms": beds,
    "Number of Bathrooms": baths,
    "Square Feet": sqft
})

In [22]:
dallas_buy["loc"] = dallas_buy["Address"].apply(geolocator.geocode)
dallas_buy["point"]= dallas_buy["loc"].apply(lambda loc: tuple(loc.point) if loc else None)

In [23]:
print(dallas_buy)

                                         Address  \
0         2628 Lawrence Street, Dallas, TX 75215
1           162 S Cisco Street, Dallas, TX 75246
2       9250 Meadowbrook Drive, Dallas, TX 75220
3             8032 EAGLE Trail, Dallas, TX 75238
4           9315 Leaside Drive, Dallas, TX 75238
5          6706 Duffield Drive, Dallas, TX 75248
6            2743 Tranquil Way, Dallas, TX 75237
7           901 Elsbeth Avenue, Dallas, TX 75208
8           4418 Stigall Drive, Dallas, TX 75209
9         6921 Gateridge Drive, Dallas, TX 75254
10  15910 Coolwood Drive #1046, Dallas, TX 75248
11          9324 Stratford Way, Dallas, TX 75220
12       8420 Little Fawn Lane, Dallas, TX 75249
13           2559 Globe Avenue, Dallas, TX 75228
14                 5436 Martel, Dallas, TX 75206
15            732 W 7th Street, Dallas, TX 75208
16       7442 Woodthrush Drive, Dallas, TX 75230
17           2118 Fordham Road, Dallas, TX 75216
18          4342 Margate Drive, Dallas, TX 75220
19      2512 E Illinois Avenue, Dallas, TX 75216
20          2925 Sharon Street, Dallas, TX 75211
21         8708 Stanwood Drive, Dallas, TX 75228
22   7340 Skillman Street #902, Dallas, TX 75231
23    5807 Winding Woods Trail, Dallas, TX 75227

                                          Price Number of Bedrooms  \
0      \n                $399,000\n                       [4 Beds]
1      \n                $525,000\n                       [3 Beds]
2   \n                $15,850,000\n                       [5 Beds]
3      \n                $899,000\n                       [5 Beds]
4      \n                $515,000\n                       [3 Beds]
5      \n                $724,999\n                       [4 Beds]
6      \n                $300,000\n                       [3 Beds]
7      \n                $649,000\n                       [3 Beds]
8    \n                $1,149,000\n                       [4 Beds]
9      \n                $917,000\n                       [3 Beds]
10     \n                $195,000\n                       [2 Beds]
11     \n                $850,000\n                       [3 Beds]
12     \n                $389,000\n                       [4 Beds]
13     \n                $225,000\n                       [3 Beds]
14     \n                $835,000\n                       [3 Beds]
15     \n                $669,900\n                       [3 Beds]
16     \n                $650,000\n                       [3 Beds]
17     \n                $250,000\n                       [4 Beds]
18   \n                $2,850,000\n                       [4 Beds]
19     \n                $225,000\n                       [3 Beds]
20     \n                $299,000\n                       [2 Beds]
21     \n                $479,900\n                       [3 Beds]
22     \n                $229,900\n                       [3 Beds]
23     \n                $354,000\n                       [3 Beds]

   Number of Bathrooms     Square Feet  \
0            [2 Baths]   [1, 800 SqFt]
1            [3 Baths]   [1, 836 SqFt]
2            [8 Baths]  [12, 470 SqFt]
3            [3 Baths]   [4, 157 SqFt]
4            [2 Baths]   [1, 348 SqFt]
5            [3 Baths]   [2, 452 SqFt]
6            [2 Baths]   [1, 591 SqFt]
7            [4 Baths]   [2, 124 SqFt]
8            [3 Baths]   [3, 179 SqFt]
9            [4 Baths]   [3, 562 SqFt]
10           [3 Baths]   [1, 363 SqFt]
11           [3 Baths]   [3, 154 SqFt]
12           [2 Baths]   [2, 529 SqFt]
13            [1 Bath]   [1, 104 SqFt]
14           [4 Baths]   [2, 552 SqFt]
15           [3 Baths]   [2, 020 SqFt]
16           [3 Baths]   [2, 750 SqFt]
17           [2 Baths]   [1, 436 SqFt]
18           [7 Baths]   [5, 631 SqFt]
19           [2 Baths]      [936 SqFt]
20           [2 Baths]   [1, 054 SqFt]
21           [2 Baths]   [1, 678 SqFt]
22           [2 Baths]   [1, 156 SqFt]
23           [3 Baths]   [2, 277 SqFt]

                                                  loc  \
0   (2628, Lawrence Street, Bonton, Dallas, Dallas...
1   (162, South Cisco Street, Dallas, Dallas Count...
2   (9250, Meadowbrook Drive, Dallas, Dallas Count...
3   (8032, Eagle Trail, Lake Highlands, Dallas, Da...
4   (9315, Leaside Drive, Lake Highlands, Dallas, ...
5   (6706, Duffield Drive, Dallas, Dallas County, ...
6   (2743, Tranquil Way, Unity Estates, Dallas, Da...
7                                                None
8   (4418, Stigall Drive, Dallas, Dallas County, T...
9   (6921, Gateridge Drive, Dallas, Dallas County,...
10                                               None
11  (9324, Stratford Way, Wellington on the Creek,...
12  (8420, Little Fawn Lane, Dallas, Dallas County...
13  (2559, Globe Avenue, Dallas, Dallas County, Te...
14  (5436, Martel Avenue, Dallas, Dallas County, T...
15  (732, West 7th Street, Bishop Arts District, D...
16  (7442, Woodthrush Drive, Dallas, Dallas County...
17  (2118, Fordham Road, Dallas, Dallas County, Te...
18  (4342, Margate Drive, Dallas, Dallas County, T...
19  (2512, East Illinois Avenue, Dallas, Dallas Co...
20  (2925, Sharon Street, Oak Cliff, Dallas, Dalla...
21  (8708, Stanwood Drive, Dallas, Dallas County, ...
22                                               None
23  (5807, Winding Woods Trail, Dallas, Dallas Cou...

                                            point
0   (32.753275714285714, -96.75473757142856, 0.0)
1    (32.79280086299306, -96.76473863583902, 0.0)
2     (32.8672309520521, -96.81864791418126, 0.0)
3     (32.8672838355292, -96.72567190037698, 0.0)
4   (32.874353150000005, -96.70563069424385, 0.0)
5                    (32.984727, -96.789622, 0.0)
6   (32.653147142857144, -96.86307014285714, 0.0)
7                                            None
8    (32.84846089231078, -96.83501988098786, 0.0)
9         (32.945947149999995, -96.78505475, 0.0)
10                                           None
11    (32.86527602905594, -96.8434641725007, 0.0)
12   (32.641369100000006, -96.9679043527724, 0.0)
13   (32.81519136363636, -96.67178278787878, 0.0)
14      (32.8316953913786, -96.776209347178, 0.0)
15           (32.748725, -96.83540425944923, 0.0)
16   (32.889321686457414, -96.7777329925406, 0.0)
17   (32.70242331707317, -96.79072736585366, 0.0)
18   (32.86461825039389, -96.83411732400864, 0.0)
19  (32.717511633028195, -96.78503893219238, 0.0)
20           (32.7299887, -96.8699587944061, 0.0)
21          (32.8137075, -96.70163198978989, 0.0)
22                                           None
23         (32.78413045, -96.70440525292366, 0.0)

In [24]:
dallas_buy.to_csv(r'../Resources/dallas_buy.csv', index = False)