In [1]:
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [2]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [4]:
# Stack Overflow URL to scrape
allen_url = 'https://www.mydallashomefinder.com/listing?utm_campaign=SNDTX%3A%20Dallas%20County%20-%20Zip%20Codes&utm_medium=cpc&pageSize=24&zoom=12&pageNum=2&utm_term=homes%20sale%2075220%20Dallas%20Texas&page=1&msclkid=9653aafd9dd215d71837c9942c264c70&utm_source=bing&utm_content=75220&key=Allen%2C%20TX&keywordType=city&purchaseType-For-Sale-Rent=1'
# Retrieve page with the requests module
browser.visit(allen_url)

In [5]:
for x in range (2):
    #x = 1
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    location  = soup.find_all('p', class_='house-address')
    cost = soup.find_all('p', class_='house-price')
    #bbsq = soup.find_all('span', class_='vertical-line')
    #list names 
    addresses = []
    price = []
    #bbsq = []
    #append lists
    for i, y in zip(location, cost):
        addresses.append(i.text)
        price.append(y.text)
        #bbsq.append(x.text)

            #print('next page')
    
    #browser.links.find_by_partial_text(" 2 ").click()

In [6]:
print(addresses)

['1056 Enchanted Rock Drive, Allen, TX 75013', '1421 Greenwich Drive, Allen, TX 75013', '1045 Bandelier Drive, Allen, TX 75013', '1613 Ponderosa Drive, Allen, TX 75002', '1027 Lucy Lane, Allen, TX 75013', '2014 Barley Place Drive, Allen, TX 75013', '602 Huntington Lane, Allen, TX 75002', '728 Fawn Valley Drive, Allen, TX 75002', '315 Phoebe Drive, Allen, TX 75013', '522 Willow Oak Street, Allen, TX 75002', '1109 High Meadow Drive, Allen, TX 75002', '1704 Pebble Run Drive, Allen, TX 75002', '1807 Olympia Drive, Allen, TX 75002', '1507 Winterbrook Court, Allen, TX 75002', '1433 Glendover Drive, Allen, TX 75013', '900 Kingsbury Court, Allen, TX 75013', '1105 Ferndale Drive, Allen, TX 75013', '716 Roaming Road Drive, Allen, TX 75002', '1322 Crestview Drive, Allen, TX 75002', '1816 San Leanna Drive, Allen, TX 75013', '1001 Roaring Springs Drive, Allen, TX 75002', '609 White Oak Street, Allen, TX 75002', '1010 Burnet Drive, Allen, TX 75002', '1905 Rising Star Drive, Allen, TX 75013']

In [8]:
print(price)

['\n                $575,000\n            ', '\n                $525,000\n            ', '\n                $918,000\n            ', '\n                $685,000\n            ', '\n                $450,000\n            ', '\n                $815,000\n            ', '\n                $469,500\n            ', '\n                $450,000\n            ', '\n                $419,000\n            ', '\n                $315,000\n            ', '\n                $369,500\n            ', '\n                $629,000\n            ', '\n                $599,999\n            ', '\n                $799,900\n            ', '\n                $525,000\n            ', '\n                $989,900\n            ', '\n                $619,000\n            ', '\n                $365,000\n            ', '\n                $343,000\n            ', '\n                $740,000\n            ', '\n                $332,000\n            ', '\n                $400,000\n            ', '\n                $779,999\n            ', '\n                $799,000\n            ']

In [9]:
bbsq = soup.find_all('span', class_='vertical-line')
bed_bath_sq = []
for x in bbsq:
    bed_bath_sq.append(x.text)

In [10]:
print(bed_bath_sq)

['4 Beds', '3 Baths', '2,434 SqFt', '4 Beds', '2 Baths', '2,299 SqFt', '5 Beds', '4 Baths', '4,162 SqFt', '4 Beds', '4 Baths', '3,105 SqFt', '3 Beds', '3 Baths', '1,955 SqFt', '4 Beds', '4 Baths', '3,583 SqFt', '4 Beds', '2 Baths', '1,940 SqFt', '4 Beds', '3 Baths', '2,612 SqFt', '3 Beds', '3 Baths', '1,753 SqFt', '3 Beds', '2 Baths', '1,512 SqFt', '3 Beds', '2 Baths', '1,404 SqFt', '4 Beds', '3 Baths', '2,929 SqFt', '5 Beds', '3 Baths', '3,761 SqFt', '5 Beds', '4 Baths', '4,070 SqFt', '4 Beds', '3 Baths', '2,499 SqFt', '5 Beds', '5 Baths', '4,438 SqFt', '4 Beds', '4 Baths', '2,457 SqFt', '3 Beds', '2 Baths', '1,430 SqFt', '3 Beds', '2 Baths', '1,404 SqFt', '4 Beds', '5 Baths', '3,785 SqFt', '4 Beds', '2 Baths', '1,439 SqFt', '4 Beds', '3 Baths', '2,163 SqFt', '5 Beds', '5 Baths', '3,764 SqFt', '4 Beds', '4 Baths', '4,124 SqFt']

In [14]:
bbsq_results = [item.split(',', 3) for item in bed_bath_sq]
print(bbsq_results)

[['4 Beds'], ['3 Baths'], ['2', '434 SqFt'], ['4 Beds'], ['2 Baths'], ['2', '299 SqFt'], ['5 Beds'], ['4 Baths'], ['4', '162 SqFt'], ['4 Beds'], ['4 Baths'], ['3', '105 SqFt'], ['3 Beds'], ['3 Baths'], ['1', '955 SqFt'], ['4 Beds'], ['4 Baths'], ['3', '583 SqFt'], ['4 Beds'], ['2 Baths'], ['1', '940 SqFt'], ['4 Beds'], ['3 Baths'], ['2', '612 SqFt'], ['3 Beds'], ['3 Baths'], ['1', '753 SqFt'], ['3 Beds'], ['2 Baths'], ['1', '512 SqFt'], ['3 Beds'], ['2 Baths'], ['1', '404 SqFt'], ['4 Beds'], ['3 Baths'], ['2', '929 SqFt'], ['5 Beds'], ['3 Baths'], ['3', '761 SqFt'], ['5 Beds'], ['4 Baths'], ['4', '070 SqFt'], ['4 Beds'], ['3 Baths'], ['2', '499 SqFt'], ['5 Beds'], ['5 Baths'], ['4', '438 SqFt'], ['4 Beds'], ['4 Baths'], ['2', '457 SqFt'], ['3 Beds'], ['2 Baths'], ['1', '430 SqFt'], ['3 Beds'], ['2 Baths'], ['1', '404 SqFt'], ['4 Beds'], ['5 Baths'], ['3', '785 SqFt'], ['4 Beds'], ['2 Baths'], ['1', '439 SqFt'], ['4 Beds'], ['3 Baths'], ['2', '163 SqFt'], ['5 Beds'], ['5 Baths'], ['3', '764 SqFt'], ['4 Beds'], ['4 Baths'], ['4', '124 SqFt']]

In [34]:
sub = bbsq_results[::3]

In [35]:
print(sub)

[['4 Beds'], ['4 Beds'], ['5 Beds'], ['4 Beds'], ['3 Beds'], ['4 Beds'], ['4 Beds'], ['4 Beds'], ['3 Beds'], ['3 Beds'], ['3 Beds'], ['4 Beds'], ['5 Beds'], ['5 Beds'], ['4 Beds'], ['5 Beds'], ['4 Beds'], ['3 Beds'], ['3 Beds'], ['4 Beds'], ['4 Beds'], ['4 Beds'], ['5 Beds'], ['4 Beds']]

In [36]:
beds = []
for x in sub:
    beds.append(x)

In [37]:
print (beds)

[['4 Beds'], ['4 Beds'], ['5 Beds'], ['4 Beds'], ['3 Beds'], ['4 Beds'], ['4 Beds'], ['4 Beds'], ['3 Beds'], ['3 Beds'], ['3 Beds'], ['4 Beds'], ['5 Beds'], ['5 Beds'], ['4 Beds'], ['5 Beds'], ['4 Beds'], ['3 Beds'], ['3 Beds'], ['4 Beds'], ['4 Beds'], ['4 Beds'], ['5 Beds'], ['4 Beds']]

In [40]:
sub1 = bbsq_results[1::3]
print(sub1)

[['3 Baths'], ['2 Baths'], ['4 Baths'], ['4 Baths'], ['3 Baths'], ['4 Baths'], ['2 Baths'], ['3 Baths'], ['3 Baths'], ['2 Baths'], ['2 Baths'], ['3 Baths'], ['3 Baths'], ['4 Baths'], ['3 Baths'], ['5 Baths'], ['4 Baths'], ['2 Baths'], ['2 Baths'], ['5 Baths'], ['2 Baths'], ['3 Baths'], ['5 Baths'], ['4 Baths']]

In [41]:
baths = []
for y in sub1:
    baths.append(y)

In [42]:
print(baths)

[['3 Baths'], ['2 Baths'], ['4 Baths'], ['4 Baths'], ['3 Baths'], ['4 Baths'], ['2 Baths'], ['3 Baths'], ['3 Baths'], ['2 Baths'], ['2 Baths'], ['3 Baths'], ['3 Baths'], ['4 Baths'], ['3 Baths'], ['5 Baths'], ['4 Baths'], ['2 Baths'], ['2 Baths'], ['5 Baths'], ['2 Baths'], ['3 Baths'], ['5 Baths'], ['4 Baths']]

In [43]:
sub2 = bbsq_results[2::3]
print(sub2)

[['2', '434 SqFt'], ['2', '299 SqFt'], ['4', '162 SqFt'], ['3', '105 SqFt'], ['1', '955 SqFt'], ['3', '583 SqFt'], ['1', '940 SqFt'], ['2', '612 SqFt'], ['1', '753 SqFt'], ['1', '512 SqFt'], ['1', '404 SqFt'], ['2', '929 SqFt'], ['3', '761 SqFt'], ['4', '070 SqFt'], ['2', '499 SqFt'], ['4', '438 SqFt'], ['2', '457 SqFt'], ['1', '430 SqFt'], ['1', '404 SqFt'], ['3', '785 SqFt'], ['1', '439 SqFt'], ['2', '163 SqFt'], ['3', '764 SqFt'], ['4', '124 SqFt']]

In [44]:
sqft = []
for z in sub2:
    sqft.append(z)

In [45]:
allen_buy = pd.DataFrame({
    "Address": addresses,
    "Price": price,
    "Number of Bedrooms": beds,
    "Number of Bathrooms": baths,
    "Square Feet": sqft
})

In [46]:
print(allen_buy)

                                        Address  \
0    1056 Enchanted Rock Drive, Allen, TX 75013
1         1421 Greenwich Drive, Allen, TX 75013
2         1045 Bandelier Drive, Allen, TX 75013
3         1613 Ponderosa Drive, Allen, TX 75002
4               1027 Lucy Lane, Allen, TX 75013
5      2014 Barley Place Drive, Allen, TX 75013
6          602 Huntington Lane, Allen, TX 75002
7        728 Fawn Valley Drive, Allen, TX 75002
8             315 Phoebe Drive, Allen, TX 75013
9        522 Willow Oak Street, Allen, TX 75002
10      1109 High Meadow Drive, Allen, TX 75002
11       1704 Pebble Run Drive, Allen, TX 75002
12          1807 Olympia Drive, Allen, TX 75002
13      1507 Winterbrook Court, Allen, TX 75002
14        1433 Glendover Drive, Allen, TX 75013
15         900 Kingsbury Court, Allen, TX 75013
16         1105 Ferndale Drive, Allen, TX 75013
17      716 Roaming Road Drive, Allen, TX 75002
18        1322 Crestview Drive, Allen, TX 75002
19       1816 San Leanna Drive, Allen, TX 75013
20  1001 Roaring Springs Drive, Allen, TX 75002
21        609 White Oak Street, Allen, TX 75002
22           1010 Burnet Drive, Allen, TX 75002
23      1905 Rising Star Drive, Allen, TX 75013

                                       Price Number of Bedrooms  \
0   \n                $575,000\n                       [4 Beds]
1   \n                $525,000\n                       [4 Beds]
2   \n                $918,000\n                       [5 Beds]
3   \n                $685,000\n                       [4 Beds]
4   \n                $450,000\n                       [3 Beds]
5   \n                $815,000\n                       [4 Beds]
6   \n                $469,500\n                       [4 Beds]
7   \n                $450,000\n                       [4 Beds]
8   \n                $419,000\n                       [3 Beds]
9   \n                $315,000\n                       [3 Beds]
10  \n                $369,500\n                       [3 Beds]
11  \n                $629,000\n                       [4 Beds]
12  \n                $599,999\n                       [5 Beds]
13  \n                $799,900\n                       [5 Beds]
14  \n                $525,000\n                       [4 Beds]
15  \n                $989,900\n                       [5 Beds]
16  \n                $619,000\n                       [4 Beds]
17  \n                $365,000\n                       [3 Beds]
18  \n                $343,000\n                       [3 Beds]
19  \n                $740,000\n                       [4 Beds]
20  \n                $332,000\n                       [4 Beds]
21  \n                $400,000\n                       [4 Beds]
22  \n                $779,999\n                       [5 Beds]
23  \n                $799,000\n                       [4 Beds]

   Number of Bathrooms    Square Feet
0            [3 Baths]  [2, 434 SqFt]
1            [2 Baths]  [2, 299 SqFt]
2            [4 Baths]  [4, 162 SqFt]
3            [4 Baths]  [3, 105 SqFt]
4            [3 Baths]  [1, 955 SqFt]
5            [4 Baths]  [3, 583 SqFt]
6            [2 Baths]  [1, 940 SqFt]
7            [3 Baths]  [2, 612 SqFt]
8            [3 Baths]  [1, 753 SqFt]
9            [2 Baths]  [1, 512 SqFt]
10           [2 Baths]  [1, 404 SqFt]
11           [3 Baths]  [2, 929 SqFt]
12           [3 Baths]  [3, 761 SqFt]
13           [4 Baths]  [4, 070 SqFt]
14           [3 Baths]  [2, 499 SqFt]
15           [5 Baths]  [4, 438 SqFt]
16           [4 Baths]  [2, 457 SqFt]
17           [2 Baths]  [1, 430 SqFt]
18           [2 Baths]  [1, 404 SqFt]
19           [5 Baths]  [3, 785 SqFt]
20           [2 Baths]  [1, 439 SqFt]
21           [3 Baths]  [2, 163 SqFt]
22           [5 Baths]  [3, 764 SqFt]
23           [4 Baths]  [4, 124 SqFt]

In [47]:
allen_buy.to_csv(r'../Resources/allen_buy.csv', index = False)