In [1]:
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [2]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [4]:
# Stack Overflow URL to scrape
dallas_url = 'https://www.mydallashomefinder.com/listing?utm_campaign=SNDTX%3A%20Dallas%20County%20-%20Zip%20Codes&utm_medium=cpc&pageSize=24&pageNum=2&utm_term=homes%20sale%2075220%20Dallas%20Texas&page=1&msclkid=9653aafd9dd215d71837c9942c264c70&utm_source=bing&utm_content=75220&key=Dallas%2C%20TX&keywordType=city&purchaseType-For-Sale-Rent=1&zoom=12'
# Retrieve page with the requests module
browser.visit(dallas_url)

In [5]:
for x in range (2):
    #x = 1
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    location  = soup.find_all('p', class_='house-address')
    cost = soup.find_all('p', class_='house-price')
    #list names 
    addresses = []
    price = []
    #append lists
    for i, y in zip(location, cost):
        addresses.append(i.text)
        price.append(y.text)

            #print('next page')
    
    #browser.links.find_by_partial_text(" 2 ").click()

In [6]:
print(addresses)

['9815 Airline Road, Dallas, TX 75230', '3527 Schuster Drive, Dallas, TX 75212', '3505 Turtle Creek Boulevard #10B, Dallas, TX 75219', '4215 Skillman Street, Dallas, TX 75206', '9243 Marilyn Place, Dallas, TX 75227', '4040 Shady Hollow Lane, Dallas, TX 75233', '6003 Belgrade Avenue, Dallas, TX 75227', '2472 Thatcher Drive, Dallas, TX 75206', '4808 Mexico Court, Dallas, TX 75236', '5615 Preston Fairways Drive, Dallas, TX 75252', '11480 Audelia Road #348, Dallas, TX 75243', '9704 Vista Oaks Drive, Dallas, TX 75243', '1460 Glencliff Drive, Dallas, TX 75217', '1519 Cedar Hill Avenue, Dallas, TX 75208', '3050 Sundial Drive, Dallas, TX 75229', '4046 Odessa Street, Dallas, TX 75212', '4042 Odessa Street, Dallas, TX 75212', '5546 Goodwin Avenue, Dallas, TX 75206', '2614 Ghent Street, Dallas, TX 75215', '6042 Lakehurst Avenue, Dallas, TX 75230', '6323 Vickery Boulevard, Dallas, TX 75214', '5007 Junius Street, Dallas, TX 75214', '17905 Carrollwood Drive, Dallas, TX 75252', '2235 Lovedale Avenue #103, Dallas, TX 75235']

In [7]:
print(addresses.pop(1))

3527 Schuster Drive, Dallas, TX 75212

In [8]:
print(addresses)

['9815 Airline Road, Dallas, TX 75230', '3505 Turtle Creek Boulevard #10B, Dallas, TX 75219', '4215 Skillman Street, Dallas, TX 75206', '9243 Marilyn Place, Dallas, TX 75227', '4040 Shady Hollow Lane, Dallas, TX 75233', '6003 Belgrade Avenue, Dallas, TX 75227', '2472 Thatcher Drive, Dallas, TX 75206', '4808 Mexico Court, Dallas, TX 75236', '5615 Preston Fairways Drive, Dallas, TX 75252', '11480 Audelia Road #348, Dallas, TX 75243', '9704 Vista Oaks Drive, Dallas, TX 75243', '1460 Glencliff Drive, Dallas, TX 75217', '1519 Cedar Hill Avenue, Dallas, TX 75208', '3050 Sundial Drive, Dallas, TX 75229', '4046 Odessa Street, Dallas, TX 75212', '4042 Odessa Street, Dallas, TX 75212', '5546 Goodwin Avenue, Dallas, TX 75206', '2614 Ghent Street, Dallas, TX 75215', '6042 Lakehurst Avenue, Dallas, TX 75230', '6323 Vickery Boulevard, Dallas, TX 75214', '5007 Junius Street, Dallas, TX 75214', '17905 Carrollwood Drive, Dallas, TX 75252', '2235 Lovedale Avenue #103, Dallas, TX 75235']

In [9]:
print(price)

['\n                $630,000\n            ', '\n                $95,000\n            ', '\n                $2,595,000\n            ', '\n                $585,000\n            ', '\n                $250,000\n            ', '\n                $350,000\n            ', '\n                $245,000\n            ', '\n                $599,000\n            ', '\n                $290,000\n            ', '\n                $745,000\n            ', '\n                $119,000\n            ', '\n                $775,000\n            ', '\n                $249,900\n            ', '\n                $2,495,000\n            ', '\n                $490,000\n            ', '\n                $239,900\n            ', '\n                $349,900\n            ', '\n                $899,000\n            ', '\n                $309,900\n            ', '\n                $3,200,000\n            ', '\n                $870,000\n            ', '\n                $889,000\n            ', '\n                $700,000\n            ', '\n                $439,000\n            ']

In [10]:
print(price.pop(1))

                $95,000

In [11]:
print(price)

['\n                $630,000\n            ', '\n                $2,595,000\n            ', '\n                $585,000\n            ', '\n                $250,000\n            ', '\n                $350,000\n            ', '\n                $245,000\n            ', '\n                $599,000\n            ', '\n                $290,000\n            ', '\n                $745,000\n            ', '\n                $119,000\n            ', '\n                $775,000\n            ', '\n                $249,900\n            ', '\n                $2,495,000\n            ', '\n                $490,000\n            ', '\n                $239,900\n            ', '\n                $349,900\n            ', '\n                $899,000\n            ', '\n                $309,900\n            ', '\n                $3,200,000\n            ', '\n                $870,000\n            ', '\n                $889,000\n            ', '\n                $700,000\n            ', '\n                $439,000\n            ']

In [12]:
bbsq = soup.find_all('span', class_='vertical-line')
bed_bath_sq = []
for x in bbsq:
    bed_bath_sq.append(x.text)

In [13]:
print(bed_bath_sq)

['4 Beds', '4 Baths', '3,832 SqFt', '0.35 Acres', '3 Beds', '5 Baths', '3,439 SqFt', '3 Beds', '2 Baths', '1,458 SqFt', '2 Beds', '1 Bath', '1,056 SqFt', '6 Beds', '3 Baths', '2,286 SqFt', '2 Beds', '2 Baths', '1,284 SqFt', '3 Beds', '4 Baths', '2,015 SqFt', '3 Beds', '2 Baths', '1,494 SqFt', '3 Beds', '3 Baths', '2,724 SqFt', '1 Bed', '1 Bath', '730 SqFt', '4 Beds', '3 Baths', '3,221 SqFt', '4 Beds', '2 Baths', '1,799 SqFt', '4 Beds', '5 Baths', '4,277 SqFt', '3 Beds', '2 Baths', '1,656 SqFt', '2 Beds', '1 Bath', '732 SqFt', '3 Beds', '2 Baths', '1,700 SqFt', '3 Beds', '3 Baths', '2,400 SqFt', '4 Beds', '3 Baths', '1,724 SqFt', '5 Beds', '7 Baths', '6,628 SqFt', '2 Beds', '3 Baths', '1,962 SqFt', '3 Beds', '3 Baths', '2,480 SqFt', '4 Beds', '3 Baths', '2,590 SqFt', '3 Beds', '3 Baths', '1,878 SqFt']

In [14]:
print(bed_bath_sq.pop(3))

0.35 Acres

In [15]:
print(bed_bath_sq)

['4 Beds', '4 Baths', '3,832 SqFt', '3 Beds', '5 Baths', '3,439 SqFt', '3 Beds', '2 Baths', '1,458 SqFt', '2 Beds', '1 Bath', '1,056 SqFt', '6 Beds', '3 Baths', '2,286 SqFt', '2 Beds', '2 Baths', '1,284 SqFt', '3 Beds', '4 Baths', '2,015 SqFt', '3 Beds', '2 Baths', '1,494 SqFt', '3 Beds', '3 Baths', '2,724 SqFt', '1 Bed', '1 Bath', '730 SqFt', '4 Beds', '3 Baths', '3,221 SqFt', '4 Beds', '2 Baths', '1,799 SqFt', '4 Beds', '5 Baths', '4,277 SqFt', '3 Beds', '2 Baths', '1,656 SqFt', '2 Beds', '1 Bath', '732 SqFt', '3 Beds', '2 Baths', '1,700 SqFt', '3 Beds', '3 Baths', '2,400 SqFt', '4 Beds', '3 Baths', '1,724 SqFt', '5 Beds', '7 Baths', '6,628 SqFt', '2 Beds', '3 Baths', '1,962 SqFt', '3 Beds', '3 Baths', '2,480 SqFt', '4 Beds', '3 Baths', '2,590 SqFt', '3 Beds', '3 Baths', '1,878 SqFt']

In [16]:
bbsq_results = [item.split(',', 3) for item in bed_bath_sq]
print(bbsq_results)

[['4 Beds'], ['4 Baths'], ['3', '832 SqFt'], ['3 Beds'], ['5 Baths'], ['3', '439 SqFt'], ['3 Beds'], ['2 Baths'], ['1', '458 SqFt'], ['2 Beds'], ['1 Bath'], ['1', '056 SqFt'], ['6 Beds'], ['3 Baths'], ['2', '286 SqFt'], ['2 Beds'], ['2 Baths'], ['1', '284 SqFt'], ['3 Beds'], ['4 Baths'], ['2', '015 SqFt'], ['3 Beds'], ['2 Baths'], ['1', '494 SqFt'], ['3 Beds'], ['3 Baths'], ['2', '724 SqFt'], ['1 Bed'], ['1 Bath'], ['730 SqFt'], ['4 Beds'], ['3 Baths'], ['3', '221 SqFt'], ['4 Beds'], ['2 Baths'], ['1', '799 SqFt'], ['4 Beds'], ['5 Baths'], ['4', '277 SqFt'], ['3 Beds'], ['2 Baths'], ['1', '656 SqFt'], ['2 Beds'], ['1 Bath'], ['732 SqFt'], ['3 Beds'], ['2 Baths'], ['1', '700 SqFt'], ['3 Beds'], ['3 Baths'], ['2', '400 SqFt'], ['4 Beds'], ['3 Baths'], ['1', '724 SqFt'], ['5 Beds'], ['7 Baths'], ['6', '628 SqFt'], ['2 Beds'], ['3 Baths'], ['1', '962 SqFt'], ['3 Beds'], ['3 Baths'], ['2', '480 SqFt'], ['4 Beds'], ['3 Baths'], ['2', '590 SqFt'], ['3 Beds'], ['3 Baths'], ['1', '878 SqFt']]

In [17]:
sub = bbsq_results[::3]

In [18]:
print(sub)

[['4 Beds'], ['3 Beds'], ['3 Beds'], ['2 Beds'], ['6 Beds'], ['2 Beds'], ['3 Beds'], ['3 Beds'], ['3 Beds'], ['1 Bed'], ['4 Beds'], ['4 Beds'], ['4 Beds'], ['3 Beds'], ['2 Beds'], ['3 Beds'], ['3 Beds'], ['4 Beds'], ['5 Beds'], ['2 Beds'], ['3 Beds'], ['4 Beds'], ['3 Beds']]

In [19]:
beds = []
for x in sub:
    beds.append(x)

In [20]:
print(beds)

[['4 Beds'], ['3 Beds'], ['3 Beds'], ['2 Beds'], ['6 Beds'], ['2 Beds'], ['3 Beds'], ['3 Beds'], ['3 Beds'], ['1 Bed'], ['4 Beds'], ['4 Beds'], ['4 Beds'], ['3 Beds'], ['2 Beds'], ['3 Beds'], ['3 Beds'], ['4 Beds'], ['5 Beds'], ['2 Beds'], ['3 Beds'], ['4 Beds'], ['3 Beds']]

In [21]:
sub1 = bbsq_results[1::3]
print(sub1)

[['4 Baths'], ['5 Baths'], ['2 Baths'], ['1 Bath'], ['3 Baths'], ['2 Baths'], ['4 Baths'], ['2 Baths'], ['3 Baths'], ['1 Bath'], ['3 Baths'], ['2 Baths'], ['5 Baths'], ['2 Baths'], ['1 Bath'], ['2 Baths'], ['3 Baths'], ['3 Baths'], ['7 Baths'], ['3 Baths'], ['3 Baths'], ['3 Baths'], ['3 Baths']]

In [22]:
baths = []
for y in sub1:
    baths.append(y)

In [23]:
print(baths)

[['4 Baths'], ['5 Baths'], ['2 Baths'], ['1 Bath'], ['3 Baths'], ['2 Baths'], ['4 Baths'], ['2 Baths'], ['3 Baths'], ['1 Bath'], ['3 Baths'], ['2 Baths'], ['5 Baths'], ['2 Baths'], ['1 Bath'], ['2 Baths'], ['3 Baths'], ['3 Baths'], ['7 Baths'], ['3 Baths'], ['3 Baths'], ['3 Baths'], ['3 Baths']]

In [24]:
sub2 = bbsq_results[2::3]
print(sub2)

[['3', '832 SqFt'], ['3', '439 SqFt'], ['1', '458 SqFt'], ['1', '056 SqFt'], ['2', '286 SqFt'], ['1', '284 SqFt'], ['2', '015 SqFt'], ['1', '494 SqFt'], ['2', '724 SqFt'], ['730 SqFt'], ['3', '221 SqFt'], ['1', '799 SqFt'], ['4', '277 SqFt'], ['1', '656 SqFt'], ['732 SqFt'], ['1', '700 SqFt'], ['2', '400 SqFt'], ['1', '724 SqFt'], ['6', '628 SqFt'], ['1', '962 SqFt'], ['2', '480 SqFt'], ['2', '590 SqFt'], ['1', '878 SqFt']]

In [25]:
sqft = []
for z in sub2:
    sqft.append(z)

In [26]:
dallas_buy = pd.DataFrame({
    "Address": addresses,
    "Price": price,
    "Number of Bedrooms": beds,
    "Number of Bathrooms": baths,
    "Square Feet": sqft
})

In [28]:
print(dallas_buy)

                                              Address  \
0                 9815 Airline Road, Dallas, TX 75230
1   3505 Turtle Creek Boulevard #10B, Dallas, TX 7...
2              4215 Skillman Street, Dallas, TX 75206
3                9243 Marilyn Place, Dallas, TX 75227
4            4040 Shady Hollow Lane, Dallas, TX 75233
5              6003 Belgrade Avenue, Dallas, TX 75227
6               2472 Thatcher Drive, Dallas, TX 75206
7                 4808 Mexico Court, Dallas, TX 75236
8       5615 Preston Fairways Drive, Dallas, TX 75252
9           11480 Audelia Road #348, Dallas, TX 75243
10            9704 Vista Oaks Drive, Dallas, TX 75243
11             1460 Glencliff Drive, Dallas, TX 75217
12           1519 Cedar Hill Avenue, Dallas, TX 75208
13               3050 Sundial Drive, Dallas, TX 75229
14               4046 Odessa Street, Dallas, TX 75212
15               4042 Odessa Street, Dallas, TX 75212
16              5546 Goodwin Avenue, Dallas, TX 75206
17                2614 Ghent Street, Dallas, TX 75215
18            6042 Lakehurst Avenue, Dallas, TX 75230
19           6323 Vickery Boulevard, Dallas, TX 75214
20               5007 Junius Street, Dallas, TX 75214
21          17905 Carrollwood Drive, Dallas, TX 75252
22        2235 Lovedale Avenue #103, Dallas, TX 75235

                                         Price Number of Bedrooms  \
0     \n                $630,000\n                       [4 Beds]
1   \n                $2,595,000\n                       [3 Beds]
2     \n                $585,000\n                       [3 Beds]
3     \n                $250,000\n                       [2 Beds]
4     \n                $350,000\n                       [6 Beds]
5     \n                $245,000\n                       [2 Beds]
6     \n                $599,000\n                       [3 Beds]
7     \n                $290,000\n                       [3 Beds]
8     \n                $745,000\n                       [3 Beds]
9     \n                $119,000\n                        [1 Bed]
10    \n                $775,000\n                       [4 Beds]
11    \n                $249,900\n                       [4 Beds]
12  \n                $2,495,000\n                       [4 Beds]
13    \n                $490,000\n                       [3 Beds]
14    \n                $239,900\n                       [2 Beds]
15    \n                $349,900\n                       [3 Beds]
16    \n                $899,000\n                       [3 Beds]
17    \n                $309,900\n                       [4 Beds]
18  \n                $3,200,000\n                       [5 Beds]
19    \n                $870,000\n                       [2 Beds]
20    \n                $889,000\n                       [3 Beds]
21    \n                $700,000\n                       [4 Beds]
22    \n                $439,000\n                       [3 Beds]

   Number of Bathrooms    Square Feet
0            [4 Baths]  [3, 832 SqFt]
1            [5 Baths]  [3, 439 SqFt]
2            [2 Baths]  [1, 458 SqFt]
3             [1 Bath]  [1, 056 SqFt]
4            [3 Baths]  [2, 286 SqFt]
5            [2 Baths]  [1, 284 SqFt]
6            [4 Baths]  [2, 015 SqFt]
7            [2 Baths]  [1, 494 SqFt]
8            [3 Baths]  [2, 724 SqFt]
9             [1 Bath]     [730 SqFt]
10           [3 Baths]  [3, 221 SqFt]
11           [2 Baths]  [1, 799 SqFt]
12           [5 Baths]  [4, 277 SqFt]
13           [2 Baths]  [1, 656 SqFt]
14            [1 Bath]     [732 SqFt]
15           [2 Baths]  [1, 700 SqFt]
16           [3 Baths]  [2, 400 SqFt]
17           [3 Baths]  [1, 724 SqFt]
18           [7 Baths]  [6, 628 SqFt]
19           [3 Baths]  [1, 962 SqFt]
20           [3 Baths]  [2, 480 SqFt]
21           [3 Baths]  [2, 590 SqFt]
22           [3 Baths]  [1, 878 SqFt]

In [29]:
dallas_buy.to_csv(r'../Resources/dallas_buy.csv', index = False)