In [14]:
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import os 
import time 
import pandas as pd

In [15]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

In [16]:
url = 'https://www.realtor.com/apartments/Allen_TX'

browser.visit(url)

In [17]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [18]:
property_cards = soup.find_all('div', class_='CardContent__StyledCardContent-rui__sc-7ptz1z-0 echMdB card-content')

In [19]:
street_addresses = []
city_zips = []
list_prices = []
property_types = []
bedrooms = []
baths = []
for card in property_cards: 
  
        street_address = card.find('div', attrs={'data-testid':'card-address-1','class':'truncate-line'})
        street_addresses.append(street_address.text)
        
        city_zip = card.find('div', attrs={'data-testid':'card-address-2','class':'truncate-line'})
        city_zips.append(city_zip.text)

        prop_type = card.find('div', class_='styles__StyledStatusBadge-rui__hewb9n-0 eiNeel')
        property_types.append(prop_type.text)
    
        beds = card.find('li', class_='styles__StyledPropertyBedMeta-rui__jbdr1y-0 gUHOjr')
        bedrooms.append(beds.text)
        try: 
            bath = card.find('li', class_='styles__StyledPropertyBathMeta-rui__sc-6egb6z-0 dqxXcq')
            baths.append(bath.text)
    
            price = card.find('div', class_='Price__Component-rui__x3geed-0 ibnFqH card-price')
            list_prices.append(price.text)
        except AttributeError as e:
                print('Not available')

In [20]:
print(street_addresses)

['1527 Teresa Ann Ln', '808 Leading Ln', '205 Benton Dr', '325 S Jupiter Rd Apt 327', '729 Junction Dr', '947 Park Ridge Dr', '208 S Malone Rd', '922 Thistle Cir', '1018 Dickens Ln', '603 Creekside Ln', '440 Fox Trl', '28 Brewster Ct', '1824 Summer Glen Ct', '1534 Broadmoor Dr', '1015 Draycot Ct', '708 Rolling Ridge Dr', '1238 Wiltshire Dr', '801 Melinda Dr', '1178 Landon Ln', '1717 Terrell Dr', '1090 W Exchange Pkwy # C210', '1090 W Exchange Pkwy # C212', '1090 W Exchange Pkwy # C310', '1090 W Exchange Pkwy # H308', '315 N Greenville Ave', '1400 Andrews Pkwy', '1712 Paytyn Dr', '301 S Jupiter Rd', '301 N Greenville Ave', '1420 W McDermott Dr', '930 Ridgeview Dr', '1090 W Exchange Pkwy', '1845 Chelsea Blvd', '935 Garden Park Dr', '1500 S Jupiter Rd', '860 Junction Dr', '1160 Montgomery Blvd', '659 Junction Dr', '1300 N Custer Rd', '1280 Montgomery Blvd', '705 Bray Central Dr', '1175 Montgomery Blvd']

In [21]:
print(city_zips)

['Allen, TX 75013', 'Allen, TX 75002', 'Allen, TX 75013', 'Allen, TX 75002', 'Allen, TX 75013', 'Allen, TX 75013', 'Allen, TX 75002', 'Allen, TX 75002', 'Allen, TX 75002', 'Allen, TX 75002', 'Allen, TX 75002', 'Allen, TX 75002', 'Allen, TX 75002', 'Allen, TX 75002', 'Allen, TX 75002', 'Allen, TX 75002', 'Allen, TX 75013', 'Allen, TX 75002', 'Allen, TX 75013', 'Allen, TX 75002', 'Allen, TX 75013', 'Allen, TX 75013', 'Allen, TX 75013', 'Allen, TX 75013', 'Allen, TX 75002', 'Allen, TX 75002', 'Allen, TX 75013', 'Allen, TX 75002', 'Allen, TX 75002', 'Allen, TX 75013', 'Allen, TX 75013', 'Allen, TX 75013', 'Allen, TX 75013', 'Allen, TX 75013', 'Allen, TX 75002', 'Allen, TX 75013', 'Allen, TX 75013', 'Allen, TX 75013', 'Allen, TX 75013', 'Allen, TX 75013', 'Allen, TX 75013', 'Allen, TX 75013']

In [22]:
print(list_prices)

['$2,800', '$2,050', '$1,393 - $2,307', '$1,469 - $1,974', '$1,539 - $2,842', '$3,400', '$2,125', '$2,705', '$3,145', '$2,550', '$2,975', '$2,300', '$2,400', '$2,650', '$2,200', '$2,335', '$2,600', '$3,500', '$2,500', '$2,820', '$1,465', '$1,465', '$1,465', '$1,380', '$1,196 - $1,820', '$1,523 - $2,575', '$2,950', '$1,395 - $2,320', '$1,400 - $1,665', '$1,228 - $2,079', '$1,230 - $2,972', '$1,240 - $1,885', '$1,285 - $2,100', '$1,475 - $3,030', '$1,379 - $1,624', '$1,315 - $2,408', '$1,408 - $3,282', '$1,405 - $2,330', '$1,275 - $2,353', '$1,505 - $3,455', '$1,628 - $2,259', '$1,425 - $2,768']

In [23]:
print(property_types)

['For Rent - House', 'For Rent - House', 'For Rent - Other', 'For Rent - Other', 'For Rent - Apartment', 'For Rent - House', 'For Rent - House', 'For Rent - House', 'For Rent - House', 'For Rent - House', 'For Rent - House', 'For Rent - House', 'For Rent - House', 'For Rent - House', 'For Rent - House', 'For Rent - House', 'For Rent - Townhome', 'For Rent - House', 'For Rent - Townhome', 'For Rent - Townhome', 'For Rent - Apartment', 'For Rent - Apartment', 'For Rent - Apartment', 'For Rent - Apartment', 'For Rent - Other', 'For Rent - Other', 'For Rent - House', 'For Rent - Apartment', 'For Rent - Apartment', 'For Rent - Apartment', 'For Rent - Apartment', 'For Rent - Apartment', 'For Rent - Apartment', 'For Rent - Apartment', 'For Rent - Apartment', 'For Rent - Apartment', 'For Rent - Apartment', 'For Rent - Apartment', 'For Rent - Apartment', 'For Rent - Apartment', 'For Rent - Apartment', 'For Rent - Apartment']

In [24]:
print(bedrooms)

['3bed', '3bed', '1 - 3bed', '1 - 3bed', '1 - 3bed', '3bed', '3bed', '4bed', '4bed', '4bed', '4bed', '3bed', '3bed', '4bed', '4bed', '3bed', '3bed', '5bed', '3bed', '4bed', '1bed', '1bed', '1bed', '1bed', '1 - 2bed', '1 - 3bed', '3bed', '1 - 3bed', '1 - 2bed', '1 - 3bed', '1 - 2bed', '1 - 2bed', '1 - 2bed', '1 - 3bed', '2bed', '1 - 2bed', '1 - 3bed', '1 - 3bed', '1 - 3bed', '1 - 3bed', '1 - 3bed', '1 - 3bed']

In [25]:
print(baths)

['2.5bath', '2bath', '1 - 2bath', '1 - 2bath', '1 - 2bath', '2.5bath', '2bath', '2.5bath', '2.5bath', '2bath', '2bath', '2.5bath', '2bath', '2.5bath', '2bath', '2bath', '2.5bath', '3.5bath', '2bath', '2.5bath', '1bath', '1bath', '1bath', '1bath', '1 - 2bath', '1 - 2bath', '2.5 - 4bath', '1 - 2bath', '1 - 2bath', '1 - 2bath', '1 - 2bath', '1 - 2bath', '1 - 2bath', '1 - 2bath', '1 - 2bath', '1 - 2bath', '1 - 3bath', '1 - 2bath', '1 - 2bath', '1 - 2.5bath', '1 - 2bath', '1 - 2bath']

In [26]:
Allen_rent = pd.DataFrame({
    "Street Address": street_addresses,
    "CSZ": city_zips,
    "Price": list_prices,
    "Property Type": property_types,
    "Number of Bedrooms": bedrooms,
    "Number of Bathrooms": baths
})

In [28]:
len(Allen_rent)

42

In [29]:
Allen_rent.to_csv(r'../Resources/allen_rent.csv', index = False)